.jumbotron {
	height: 40rem;
	margin-bottom: 0 !important;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0)),url("http://38.media.tumblr.com/376a46baffe3444282f3b414a2fd0d46/tumblr_n9hxcf3Bm91st5lhmo1_1280.jpg") 50% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.profile-header-row {
	border-bottom: 1px solid #c5d0dc;
	background-color: #232323;
}

/* -- PROFILE AVATAR -- */

/* Container Div*/
@media (max-width: 768px) {
	.profile-header {
		height: 140px !important;
		width: 140px !important;
		background-color: #fed136 !important;
	}
}

.profile-header {
	height: 180px;
	width: 180px;
	margin-top: -7rem;
	transition: all 0.5s;
	z-index: 1;
}

/* Profile Avatar Link */
@media (max-width: 768px) {
	.profile-header {
		height: 100px !important;
		width: 100px !important;
		margin-left: 2% !important;
	}	
	.profile-avatar {
		height: 100px !important;
		width: 100px !important;
	}
	.profile-info-container {
		margin-left: 0 !important;	
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.profile-header {
		height: 140px !important;
		width: 140px !important;
	}	
	.profile-avatar {
		height: 140px !important;
		width: 140px !important;
	}
}

.profile-avatar {
	overflow: hidden;
	height: 180px;
	width: 180px;
	border: 4px solid white;
	border-radius: 50%;
	transition: all 0.5s;
	z-index: 1;
}

.profile-info-container {
	margin-top: -3rem;
	margin-left: 3rem;
	min-height: 16.5rem; 

}

.profile-user-name {
	font-family: "ff-meta-serif-web-pro",serif;
  	font-size: 5.5rem;
  	color: white;
  	margin-bottom: 1.5rem;
  	margin-top: 2rem;
}

.profile-user-roles {
	font-family: "proxima-nova",sans-serif;
	color: white;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.12rem;
	margin-bottom: 0.8rem;
}

.fa-map-marker {
	/*color: white;*/
	color: #506A85;
	margin-right: 2rem;
}

.profile-user-location {
	font-family: "proxima-nova",sans-serif;
	color: white;
	font-size: 1.4rem;
	font-weight: 300;
}
